*

!/.gitignore
!/app/
!/app/**
!/tests/
!/tests/**
!/_pystand_static.int
!/VideoCaptioner.exe

__pycache__/
*.pyc
*.pyo
*.pyd

/AppData/
/resource/
/runtime/
/work-dir/
/VideoCapitoner/
/unins000.dat
/unins000.exe
